
/*---- Typography Home widgets ----*/

/*.crd-c .crd_ttl {
    font-size: 15px;
    line-height: 22.5px;
}*/

.crd_ttl {
    font-size: 15px;
    line-height: 22.5px;
}


.crd-d .crd_ttl {
    font-size: 17px;
    line-height: 25.5px;
}

.crd-a .crd_ttl {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}