/*--====== Light ======--*/
:root {
    --vj-cl-TpGnAd1: #dbdbdb;
    --vj-cl-TpGnAd2: #c2c2c25c;
}

.TpGnAd_wdg+.topHdr {
    margin-top: -2px
}

.TpGnAd_wdg {
    box-sizing: border-box;
    background: #f2f2f2;
    border-bottom: 1px solid rgb(0 0 0 / 6%);
    display: none;
    width: 100%;
    z-index: 3;
}

.TpGnAd_sec {
    /* border-top: 1px solid var(--vj-cl-TpGnAd2); */
    bottom: 0;
    /* display: none; */
    float: left;
    position: relative;
    width: 100%;
    transition: all .9s ease-out;
    z-index: 99999;
}


.TpGnAd_sec:before {
    backdrop-filter: blur(7px);
    bottom: 0;
    content: "";
    left: 0;
    /* background: var(--vj-cl-TpGnAd1); */
    right: 0;
    position: absolute;
    top: 0;
    z-index: -1;
}

.alpha .TpGnAd_sec {
    /* bottom: -110%; */
}

.TpGnAd_ad-cn {
    padding: 4px 0;
}


.TpGnAd_nv-cn {
    /* background: var(--vj-cl-lg1); */
    /* border-bottom: 1px solid rgb(0 0 0 / 17%); */
    position: relative;
}

.TpGnAd_ul {
    display: inline-block;
    font-size: 0;
    float: left;
    margin: 0 auto;
    padding: 0;

}

.TpGnAd_li {
    display: inline-block;
}

.TpGnAd_lnk,
.TpGnAd_act {
    border-radius: 3px;
    color: var(--vj-cl-dr1);
    display: inline-block;
    font-family: var(--ff-two);
    font-size: 11px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 1px;
    margin: 0;
    padding: 8px 14px;
    position: relative;
    text-transform: uppercase;
}

.TpGnAd_lnk:before {
    bottom: 0px;
    background: #0000005e;
    content: "";
    height: 2px;
    left: 0px;
    margin: auto;
    right: 0px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 0px;
}

.TpGnAd_act:before,
.TpGnAd_lnk:hover:before,
.TpGnAd_lnk:focus:before {
    width: 100%;
    opacity: 1;
}

.TpGnAd_lbl {
    background-color: #e44422;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    font-size: 8px;
    font-weight: 800;
    line-height: 6px;
    min-height: 10px;
    padding: 2px 3px;
    position: absolute;
    right: -10px;
    /* top: -1px; */
    top: 0;
    text-transform: uppercase;
}

.TpGnAd_li:first-child .TpGnAd_lnk {
    margin-left: 0;
}

.TpGnAd_ul:hover .TpGnAd_li:not(:hover) {
    opacity: 0.67;
}

.TpGnAd_ul .TpGnAd_li {
    opacity: 1;
}

.TpGnAd_ul .TpGnAd_li .TpGnAd_li:hover {
    opacity: 1;
}

.TpGnAd_ad-wr {
    display: inline-block;
    float: left;
    font-size: 0;
    text-align: center;
    width: 100%;
}

.TpGnAd_ad-im {
    background: #7f7f7f1c;
    display: inline-block;
    padding: 2px 2px 2px 24px;
    position: relative;
}

.TpGnAd_lf {
    text-align: center;
}

.TpGnAd_ad-tx {
    bottom: 50%;
    color: #7f7f7f8c;
    font-size: 10px;
    font-weight: 500;
    left: 5px;
    line-height: 14px;
    padding: 3px 0;
    position: absolute;
    text-shadow: 0 1px 4px rgb(0 0 0 / 7%);
    text-transform: uppercase;
    transform: rotate(-180deg) translateY(-50%);
    writing-mode: tb-rl;
}

@media (min-width: 1200px) {
    .TpGnAd_wdg {
        display: inline-block;
    }
}