
            .inview_ani {
                transform-origin: center center;
                opacity: 0;
                transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
            }

            .inview {
                opacity: 1;
            }

            
            
            .inview_ani.inview_fade {
                opacity: 0.4;
            }
            