

/*---- Typography Home widgets ----*/
.crd-c .crd_ttl {
    font-size: 17px;
    line-height: 25.5px;
}

.crd_ttl {
    font-size: 16px;
    line-height: 24px;
}

.crd-d .crd_ttl {
    font-size: 16px;
    line-height: 24px;
}

.crd-a .crd_ttl {
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;
}