

/*----====== Card B ======----*/
.FCrd-a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 0;
    height: 100%;
    width: 100%;
}
.FCrd-a .FCrd_img, .FCrd-a .img-gr {
    border-radius: 12px;
}
.FCrd-a_h-at {
    height: auto;
}

